# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual Environment
venv/
.env/
env/

# Streamlit
.streamlit/credentials.toml
.streamlit/secrets.toml

# Build / Cache / Logs
*.log
*.pickle
*.pkl
*.cache/
.cache/
.DS_Store

# Model files (in case you download embeddings/models later)
*.bin
*.pt
*.ckpt

# Uploads / Temporary Files
uploads/
temp.pdf
temp.docx

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Reports / Generated Exports
*.csv
*.xlsx
*.txt
!requirements.txt
*.pdf

# Private API Keys or Secrets
*.key
*.json
